pbr>=0.11,<2.0

bunch
decorator
jsonpatch
os-client-config>=1.3.0
six

python-novaclient>=2.21.0
python-keystoneclient>=0.11.0
python-glanceclient
python-cinderclient<1.2
python-neutronclient>=2.3.10
python-troveclient
python-ironicclient>=0.5.1
python-swiftclient>=2.5.0
python-designateclient>=1.3.0

dogpile.cache>=0.5.3
