hacking>=0.11.0,<0.12  # Apache-2.0

coverage>=3.6
fixtures>=0.3.14
mock>=1.0
python-subunit
oslosphinx>=2.2.0  # Apache-2.0
requests-mock
sphinx>=1.1.2,!=1.2.0,!=1.3b1,<1.3
testrepository>=0.0.17
testscenarios>=0.4,<0.5
testtools>=0.9.32
reno
futures;python_version<'3.2'
